* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  /* outline: 1px solid limegreen; */
}

body {
  background-color: var(--background-primary);
  color: var(--font-primary);
}

/* variables */

:root {
  --background-primary: #070707;
  --background-secondary: #171717;
  --font-primary: white;
  --font-secondary: gold;
}

/* templates */

.container {
  padding: 16px;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.middle {
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.grid {
  margin: 32px auto;
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  padding: 32px;
  background-color: var(--background-secondary);
}

section {
  height: 100vh;
}

a,
button {
  min-height: 44px;
  min-width: 44px;
}

button:hover {
  cursor: pointer;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--font-primary);
}

h2,
h3 {
  margin: 16px 0;
}

/* header */

header {
  position: fixed;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 96px;
  padding: 16px 32px;
  background-color: var(--background-primary);
}

/* navigation */

nav {
  top: 0;
  display: flex;
}

#menuButton {
  display: none;
}

#closeButton {
  display: none;
}

nav ul {
  display: flex;
}

nav ul li {
  padding: 16px;
}

nav ul li a {
  font-size: large;
  padding-bottom: 4px;
  border-bottom: solid 2px var(--background-primary);
  transition: 1.7s;
}

nav ul li a:hover {
  border-bottom: solid 2px white;
}

/* hero */

#hero h1 {
  font-size: 72px;
}

/* content */

main {
  /* padding-top: 85px; */
  max-width: 800px;
  margin: 0 auto;
}

/* about */

#about {
  width: 500px;
  margin: 0 auto;
}

#about figure img {
  border-radius: 50%;
  width: auto;
  height: 240px;
  margin-right: 32px;
}

/* project */

/* contact */

#contact ul {
  gap: 16px;
  align-items: center;
}

#contact i {
  margin-right: 8px;
}

/* footer */

footer {
  padding: 16px;
  background-color: var(--background-secondary);
}

@media screen and (max-width: 1000px) {
  main {
    padding: 0 64px;
  }
}

@media screen and (max-width: 800px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  main {
    text-align: center;
  }

  #about {
    width: 100%;
    flex-direction: column;
  }

  #about figure img {
    margin: 0;
  }
}

@media screen and (max-width: 600px) {
  .grid {
    grid-template-columns: auto;
  }

  #menuButton {
    display: flex;
    font-size: 32px;
    border: none;
    background-color: transparent;
    color: var(--font-primary);
  }

  #closeButton {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    border: none;
    background-color: transparent;
    color: var(--font-primary);
  }

  #menuList {
    z-index: 3;
    position: fixed;
    top: 0;
    right: -180px;
    width: 180px;
    display: flex;
    align-items: flex-end;
    padding: 32px;
    flex-direction: column;
    height: 100vh;
    background-color: var(--background-secondary);
    transition: 0.7s;
  }

  #menuList.open {
    right: 0px;
  }

  #menuList li a {
    border-bottom: solid 2px var(--background-secondary);
  }

  #contact ul {
    flex-direction: column;
  }
}
